* {
  box-sizing: border-box;
}

a {
  color: white;
  text-decoration: none;
}

body {
  background-image: url(../images/background.png);
}

.App {
  display: flex;
  justify-content: center;
}

.calc {
  background: black;
  border-radius: 50px;
  color: white;
  padding: 20px;
  width: fit-content;
}
