* {
  box-sizing: border-box;
}

body {
  background-image: url(../images/background.png);
  display: flex;
  justify-content: center;
}

.App {
  background: black;
  border-radius: 50px;
  color: white;
  padding: 20px;
  width: fit-content;
}

.display {
  font-size: 5em;
  margin: 20px;
  text-align: right;
}

.display-small {
  font-size: 4em;
  margin: 29px 20px;
  text-align: right;
}

.oldNumber {
  font-size: 3em;
  margin: 10px 20px;
  text-align: right;
}

.buttons {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
}
